.page {
    min-width: 1280px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", Arial, sans-serif ;
    color: white;
}

/*section, p, div, main, header, footer, article, img {
    border: 1px solid red;
}*/

.content {
    max-width: 880px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.header {
    max-width: 880px;
    width: 100%;
    padding-top: 45px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
    height: 74px;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile__ava-plus-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile__info {
    max-width: 336px;
    width: 100%;
}

.profile__edit-button{
    margin: 0;
}

.profile__name {
    margin: 0 18px 0 0;
    font-style: normal;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
}

.profile__des {
    margin: 16px 0 0 0;
    font-size: 18px;
    line-height: 21.78px;
}

.profile__add-button {
    margin: 0;
    height: 50px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    width: 100%;
}

.profile__name-plus-edit {
    display: flex;
    justify-content: center;
    margin: 0;
}

.profile__plus {
    max-width: 22px;
    max-height: 22px;
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr)); 
    grid-template-rows: repeat(2, minmax(min-content, 1fr));
    gap: 17px;
    margin-bottom: 66px;
}

.card__image {
    width: 282px;
    height: 282px;
    border-radius: 5% 5% 0 0;
    object-fit: cover;
}

.card {
    width: 282px;
    height: 361px;
    background: white;
    border-radius: 5%;
}

.card__menu {
    display: flex;
    justify-content: space-between;
}

.card__place-name {
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 21px;
}

.card__like {
    margin-right: 20px;
}


.footer {
    max-width: 880px;
    width: 100%;
}

.footer__text {
    margin: 0 0 60px;
    color: rgba(84, 84, 84, 1);
    font-size: 18px;
    line-height: 22px;
}