.profile__ava-plus-info {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media all and (max-width: 768px) {
    .profile__ava-plus-info {
        flex-direction: column;
        gap: 26px;
    }
}