.popup__close {
    position: absolute;
    top: -38px;
    right: -41px;
    cursor: pointer;
}

.popup__close:hover {
    opacity: .8;
}

@media all and (max-width: 768px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}