.card__like {
    border: 0;
    height: 19px;
    background: url(../../../images/like.svg) center no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.card__like:hover {
    opacity: .5;
}