@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/content/content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
@import url(../blocks/card/__like-button/card__like-button.css);
@import url(../blocks/card/__menu/card__menu.css);
@import url(../blocks/card/__place-name/card__place-name.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__ava-plus-info/profile__ava-plus-info.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__des/profile__des.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__edit-button-svg/profile__edit-button-svg.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name-plus-edit/profile__name-plus-edit.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__plus/profile__plus.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__profile-info/popup__profile-info.css);
@import url(../blocks/popup/__heading/popup__heading.css);
@import url(../blocks/popup/__main-container/popup__main-container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);
@import url(../blocks/popup/__handlers/popup__handlers.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);