.card__place-name {
    display: inline-block;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 21px;
    margin: 25px 10px 31px 0;
}

/*@media all and (max-width: 768px) {
    .card__place-name {
        width: 344px;
    }
}*/